@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#Boutique {
    margin: 2% auto;
    display: block;
}

.barre_change {
	display: flex;
	justify-content: center;
}

.bouton_change {
	height: 100px;
	width: 100px;
	margin: 0 1%;
	border: none;
	background: none;
	cursor: pointer;
}

/*Sélection Produit*/

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	max-width: 50%;
	margin: 1% 25%;
  }
  
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: 2%;
	text-align: center;
	font-family: 'Roboto';
  }
  
  .price {
	color: grey;
	font-size: 22px;
  }
  
  .card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	font-family: 'Roboto';
  }
  
  .card button:hover {
	opacity: 0.7;
  }
  
  
 /*Fiche Produit*/

 .section_vente {
	margin: 0px;
	bottom: 0px;
	width: 100%;
	float: left;
	height: 100vh;
}

.titre_vente {
	margin: 50px 0px 30px 50px;
}

.paragraphe_vente {
	margin: 20px 0px 0px 50px;
	width: 600px;
}

.noir {
	color: #fff;
	background: #000000;
}

.blanc {
	color: #000;
	background: #ffffff;
}

/*Fiche Produit*/

.produit{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 4% auto;
	height: 70%;
	width: 80%;
	
}

.details_produit {
	position: relative;
    text-align: left;
    overflow: hidden;
    height: 100%;
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.details_produit h1{
	padding: 30px 0 0 30px;
	font-family: 'Roboto';
	display: inline-block;
	position: relative;
	font-size: 34px;
	color: #344055;
	margin: 0;
}

/*
#produit .details_produit h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Farsan', cursive;
	display: inline-block;
	background: #FFA69E;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: #FFF;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}


@keyframes chan-sh {
	from  {content: 'free shipping';}
	to  {content: 'New';}
	
}

*/

/*Product Rating  
.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}
*/

.details_produit > p {
	padding: 0 30px 0 30px;
	font-family: 'Roboto';
	text-align: center;
	vertical-align: middle;
	color: #7d7d7d;
	overflow-y: hidden;
	font-size: 25px;
	margin: auto;
}

.controle_bouton_produit{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
}

.bouton_produit {
	background: #000000;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	transition: 0.3s;
	
}

.bouton_produit:hover{
	background:grey;
}

.bouton_produit span {
	font-family: 'Roboto';
	transition: transform 0.3s;
	display: inline-block;
	padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
}


.texte_bouton_produit {
	z-index: 3; 
	font-weight: bolder;
}


.image_produit {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
}

.produit img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info_produit {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 2.9;
    text-align: left;
    cursor: context-menu;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
	overflow: hidden;
	font-size: 25px;
}

.info_produit h2 {
	text-align: center
}

.image_produit:hover .info_produit{
	transform: translateX(0);
}

.info_produit ul {
	overflow: hidden;
}
.info_produit ul li{
	transition: 0.3s ease;
}

.info_produit ul li:hover{
	transform: translateX(120px) scale(1.3);
}

.image_produit:hover img {
	transition: all 0.3s ease-out;
}

.image_produit:hover img {
	transform: scale(1.2, 1.2);
}

/*Fin Fiche Produit*/

/*Barre de Navigation Produit*/

.nav_vente {
	text-align: center;
}

.nav {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.nav li {
	float: left;
	padding: 5px;
	margin: 5px;
	color: #aaa;
}

.nav li a {
	display: block;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.nav li a:hover {
	opacity: 0.5;
}

/* Tooltip text 
.nav li a .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);

}


.nav li a:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
*/

/*Fin Barre de Navigation Produit*/




